@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap");



#root {
  background-color: black;
  width: 100%;
  overflow: hidden
}



#background {
  width: 100%;
  display: flex;
  // justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: stretch;
  background-color: black;
  height: 100%;
  background-image: url("../../images/fundo rebu.png");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position:  right top;

}

#InnovationWidth {
  width: 10%;
}

#headerInfo {
  width: 50%;
  margin: 2rem;
  animation: fadeIn 4s;
  letter-spacing: 0.11px;
  // line-height: 3rem;
  box-sizing: border-box;
  flex: 1;

}

.headerTexts {
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  /* width: 70%; */
  height: 50%;
  gap: 2vh;
  height: auto;
  z-index: 2;

}

#headerText {
  color: #ffffff;
  font-family: IBM Plex Sans;
  font-size: 2.8vw;
  font-style: normal;
  line-height: normal;
  animation: fadeIn 2s;
  text-align: left;
  animation: fadeIn 2s;
}


#headerTextsList {
  color: #ffffff;
  line-height: normal;
  font-family: IBM Plex Sans;
  font-weight: 300;
  line-height: 28.70px;
  word-wrap: break-word;
  font-size: 1vw;
}

.headerIcon {
  color: #ffffff;
  font-family: IBM Plex Sans;
  font-weight: 300;
  line-height: 22.48px;
  word-wrap: break-word;
  font-size: 13px;
  display: flex;
  align-items: center;
  font-size: 0.9vw;

}

.headerIrmã {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 70rem) {
  .headerIrmã {
    flex-direction: column;
    align-items: center;
    width: 100%;

  }
}

@media screen and (max-width: 70rem) {
  .headerQrCode {
    width: 50%;
    min-width: 20%;
  }
}




.headerQrCode {
  width: 16%;

}

#QRcodeWidth {
  width: 100%;
}




#carrinhoFrente {
  width: 70%;
  height: 50%;
  z-index: 2;
  margin-block: 7rem;
}

#imgCarrinhoFrente {
  width: 100%;
}

.carrinhoTras {
  width: 70%;
  height: 50%;
  margin-left: -70%;
  margin-top: -40%;
}

#imgCarrinhoTras {
  width: 100%;
}

.headerPai {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1rem;
}

.carrinho {
  min-width: 20%;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 90%;
  height: auto;
  overflow: hidden;
}

#itensCarrinho {
  width: 30vw;
  height: 30vh ;
  background-color: transparent !important;
    display: flex;
      position: absolute;
      z-index: 1;
}

#itensCarrinho .coluna {
  width: 30%;
  background-color: transparent;
}
#itensCarrinho .coluna .conteudo {
  /* Ajusta a largura da coluna para 100% */
  position: relative;
}

#itensCarrinho .coluna + .coluna {
  margin-left: -5vw
}

#itensCarrinho .snack {
  position: absolute;
  width: 60%;
}

#itensCarrinho .snack.img-frente {
  z-index: 3;

}

#itensCarrinho .snack.img-meio {
  z-index: 2;
  margin-left: 2vw;
  margin-top: -1vh;
}

#itensCarrinho .snack.img-tras {
  z-index: 1;
  margin-left: 3vw;
  top: 66%;
  margin-top: -2vh;

}