.segunda-metade {
    width: 50%;
    height: 100%;
    padding: 2em
}

.estante {
    background-image: url("../../images/estante.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.fileira {
    display: flex;
    position: relative;
    padding-top: 5%;
    cursor: pointer;
}

.fileira.f2 {
    margin-top: 28%;
    cursor: pointer;
}

.fileira.f3 {
    margin-top: 30%;
    cursor: pointer;
}

.fileira .coluna {
    flex: 1;
    /* Distribui as colunas horizontalmente */
}

.fileira .coluna .conteudo {
    position: relative;
    width: 100%;
    /* Ajusta a largura da coluna para 100% */
}

.snack {
    position: absolute;
    width: 60%;
    cursor: pointer;
}

.snack.img-frente {
    z-index: 3;

}

.snack.img-meio {
    z-index: 2;
    margin-left: 2vw;
    margin-top: -1vh;
}

.snack.img-tras {
    z-index: 1;
    margin-left: 3vw;
    top: 66%;
    margin-top: -2vh;

}